<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <div ui-view="main"></div>
      <h3>Account - Company Administrator</h3>
    </div>

    <div class="title_right">
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>User(s) Account Management - New Company Administrator</h2>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <form class="form-horizontal form-label-left" ng-submit="insertUser()">
            <span class="section">Account Information</span>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Company ID</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="name" name="name" ng-model="userInsert.cid"
                  class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" required>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="enName">Email</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="email" id="enName" name="enName" ng-model="userInsert.email" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" required>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="code">Password</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="password" id="code" name="code" ng-model="userInsert.password"
                  class="form-control col-md-7 col-xs-12" required>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Username(Chinese)</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="name" name="name" ng-model="userInsert.chiname"
                  class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" required>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="enName">Username(English)</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="enName" name="enName" ng-model="userInsert.engname"
                  class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" required>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Birthday</label>
              <div class="col-md-6 col-sm-1 col-xs-12">
                <input size="16" type="date" ng-model="userInsert.birthday" class="form-control col-md-7 col-xs-12">
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Contact No</label>
              <div class="col-md-6 col-sm-1 col-xs-12">
                <input size="16" type="tel" ng-model="userInsert.contactno" class="form-control col-md-7 col-xs-12" pattern='\d{8}' title="e.g. 12345678">
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Employment Date</label>
              <div class="col-md-6 col-sm-1 col-xs-12">
                <input size="16" type="date" ng-model="userInsert.employment_date" class="form-control col-md-7 col-xs-12">
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="enName">Work Type</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text"  ng-model="userInsert.worktype"
                  class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" required>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div id="gender" class="btn-group" data-toggle="buttons">
                  <input type="button" class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" value="Male" ng-click="setGender('Male')" >
                  <input type="button" class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" value="Female" ng-click="setGender('Female')" >
                </div>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Department ID</label>
              <div class="col-md-3 col-sm-1 col-xs-12">
                <input type="text" ng-model="userInsert.department"
                  class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" required>
              </div>
            </div>


            <div class="item form-group">
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary">Cancel</button>
                <button id="send" type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
