<div class="topDiv">
    <label>Top Bar</label>
</div>

<span class="contentBlock">
  <form ng-submit="insertCorp(user)">
    <p><label>Company Name : <input type="" ng-model="company.name" required></label></p>
    <p><label>ID : <input type="" ng-model="company.id" required></label></p>
    <p><label>Password : <input type="" ng-model="company.password" required></label></p>
    <p><label>Company Email : <input type="" ng-model="company.email" required></label></p>
    <p><label>Description : <input type="" ng-model="company.description" required></label></p>

    <input type="submit" value="Save">
    <input type="reset" value="Cancel">
  </form>
</span>
