<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <div ui-view="main"></div>
        <h3>Company Management</h3>
      </div>

      <div class="title_right">
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Company Management - Modify Account Info</h2>
            <div class="clearfix"></div>
          </div>


          <div class="x_content">

<!--Update Form-->

            <div class="modal fade" id="panel" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Company Info Modification</h4>
                  </div>
                  <div class="modal-body">


                    <form class="form-horizontal form-label-left">
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">ID
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="id" class="form-control col-md-7 col-xs-12" value="{{modiInfo.id}}" disabled>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Name(Chinese)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="chiname" class="form-control col-md-7 col-xs-12" ng-model="modiInfo.chiname" required>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Name(English)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="engname" class="form-control col-md-7 col-xs-12" ng-model="modiInfo.engname" required>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Company Code
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="code" class="form-control col-md-7 col-xs-12" ng-model="modiInfo.code" required>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Department(s)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">





                          <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <input type="text" ng-model="deptInfo._id" class="form-control" placeholder="ID">
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <input type="text" ng-model="deptInfo.name" class="form-control" placeholder="Name">
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <button type="button" ng-click="addDept()" class="form-control btn btn-info">Add To Field</button>
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label>{{nullMsg}}</label>
                          </div>




                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Department Name</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="info in modiInfo.department">
                                <td>{{info._id}}</td>
                                <td>{{info.name}}</td>
                                <td><button type="button" ng-click="removeDept($index)" class="btn btn-success">Remove</button></td>
                              </tr>
                            </tbody>
                          </table>




                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Status
                        </label>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="statusOpt" class="form-control" ng-model="modiInfo.status">
                            <option value="Active">Active</option>
                            <option value="Terminated">Terminated</option>
                          </select>
                        </div>

                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">Description
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea id="textarea" ng-model="modiInfo.description" name="textarea" class="form-control col-md-7 col-xs-12" required>{{modiInfo.description}}</textarea>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                          <button id="send" type="submit" ng-click="updateCorp()" class="btn btn-success" data-dismiss="modal">Confirm</button>
                        </div>
                      </div>
                    </form>



                  </div>
                </div>

              </div>
            </div>

              <search></search>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
